img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1px;
    width: 550px;
    align-self: auto;
    max-width: 100%;
    height: auto;
    background-color: aquamarine;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba((0, 140, 186, 0.5))
}

h1 {
    color:rgb(79, 80, 76);
    font: optional;
    text-align: inherit;
    height: min-content;
}

.first {
    border-inline:inherit;
    font-style:unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size-adjust: inherit;
    text-align: justify;
    padding-bottom: 15px;
}

.places {
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 0cqh;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type:upper-roman;
    align-self: auto;
}


h2:hover {
    box-shadow: 0 0 2px 1px rgba((0, 140, 186, 0.5))
}

h2 {
    text-align: center;
}

.second {
    text-rendering: auto;
    text-align: justify;
    text-transform: inherit;
    align-self: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url("https://www.w3schools.com/css/img_mountains.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    size-adjust:inherit;
}
