{{#each errors}}
<div class="error-container">
    <p>{{this}}</p>
</div>
{{/each}}

<main>
  <section class="form-container">
    <h2>Login</h2>
    <form method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" {{#if data}}value="{{data.email}}"{{/if}}/>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />

      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a>.</p>
  </section>
</main>
