<main class="create">
  <!-- Create Page (Only for logged-in users) -->
  <section id="create">
    <div class="form">
      <h2>Add Stone</h2>
      <form class="create-form" method="" action="#">
        <input type="text" name="" id="name" placeholder="Name" />
        <input type="text" name="" id="category" placeholder="Category" />
        <input type="text" name="" id="color" placeholder="Color" />
        <input type="text" name="" id="stone-img" placeholder="Image" />
        <input type="text" name="" id="location" placeholder="Location" />
        <input type="text" name="" id="formula" placeholder="Formula" />
        <textarea id="description" placeholder="Description..." name=""></textarea>

        <button type="submit">Create</button>
      </form>
    </div>
  </section>
</main>
