{{#if error}}
<div class="error-container">
    <p>Plese, select cast!</p>
</div>
{{/if}}

<main>
  <section id="attachCast">
    <div class="attachCastSection">
      <h1>Attach New Cast</h1>
      <div class="attach-form">
        <h2>{{movie.title}}</h2>
        <img class="movie" src="{{movie.imageUrl}}" />
        <form method="POST">
          <label for="cast">Cast</label>
          <select id="cast" name="cast">
            <option value="none" selected>--------</option>
            {{#each allCast}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
          <div id="center-btn">
            <button id="create-btn">Add Cast</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
